body{
    background-image: url('../images/main-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: cover; */
    background-color:  #0A090A;
    color: #fff;
     /* font-family: 'Roboto', sans-serif;     */
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 45px;
    margin-bottom: 30%;
}
.logo{
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    /* margin-top: 51px; */
    font-family: 'Roboto', sans-serif;   
}

.search-input{
    background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 12px 18px ;
    border: none;
    color: #AEAEAE;
    flex: 1;
    font-size: 14px;
    list-style: 16px;
    font-family: 'Roboto', sans-serif;   
}

    ::-webkit-input-placeholder { /* Chrome */
        color: #AEAEAE;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: #AEAEAE;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: #AEAEAE;
        opacity: 1;
      }
      :-moz-placeholder { /* Firefox 4 - 18 */
        color: #AEAEAE;
        opacity: 1;
      }
      .search-button{
          background-color: transparent;
          border: none;
          padding: 10px 18px;    
      }
      .search{
          display: flex;
          align-items: center;
          flex: 0.8;
      }
      .user{
          display: flex;
          align-items: center;
      }
      .avatar{
          margin-left: 20px;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
      }


     .title {
         margin: 0;
        font-family: 'Playfair Display', serif;
        font-size: 48px;
        line-height: 64px;
        margin-bottom: 7px;
    }
    .title-en {
        display: inline-block;
        font-size: 20px;
        line-height: 23px;
        color: #787878;
        margin-bottom: 38px;
        font-family: 'Roboto', sans-serif;   
    }
        
    
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 108px;
    }
    .movie__info {
        display: flex;
        align-items: center;
    }
    .tag {
        display: inline-block;
        font-size: 16px;
        line-height: 19px;
        padding: 5px 10px;
        color: #333333;
        background: #FFFFFF;
       border-radius: 3px;
       margin-right: 20px;
       font-family: 'Roboto', sans-serif;   
    }
    
    .country {
        font-size: 16px;
        line-height: 19px;
        margin-right: 33px;
    }
    .play {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;   
    }
    
    .play::before{
        content: "";
        width: 30px;
        height: 30px;
        background-image: url('../images/play.svg');
        background-size: 100%;
        background-repeat: no-repeat;
        margin-right: 15px;

    }
    .more {
        display: flex;
        align-items: center;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;   
    }
    
    .more::after{
        content: "";
        width: 30px;
        height: 40px;
        background-image: url('../images/down.svg');
        background-repeat: no-repeat;
        background-size: 100%;
        margin-left: 15px;
    }


    .contant{
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 3px;
        color: #000;
        padding: 3% 4%;
    }
    .poster{
        display: block;
        margin-top: -40%;
        margin-bottom: 20px;
    }
    .button{
        background: #FF8F27;
        padding: 10px 45px;
        font-size: 14px;
        line-height: 16px;
        color: #fff;
        border: none;
        font-family: 'Roboto', sans-serif;   
    }
    
    .actor__title{
        font-weight: 900;
        font-size: 16px;
        line-height: 150%;
        padding-left: 15px;
        margin-bottom: 10px;
        font-family: 'Roboto', sans-serif;   
    }
    
    .actors__list{
        margin: 0;
        list-style: none;
        padding-left: 15px;
        text-decoration: underline;
    }
    .actor__list-item{

    }
    .short__info{
        margin-right: 3%;
    }
    .tabs{
        display: flex;
        align-items: center;
        margin-bottom: 4%;
    }
    .tabs__item{
        font-size: 18px;
        line-height: 21px;
        color: #000;
        text-decoration: none;
        margin-right: 15px;    
        font-family: 'Roboto', sans-serif;   
    }
     .tabs__item:not(:last-child){ 
         margin-right: 4%; 
     }
    
    .full__contant{
        display: flex;
        justify-content: space-between;
    }
    .tabs__item-active{
        color: #FF8F27;
    }
    .tabs__contant{
        display: none;
        margin-right: 70px;
    }
    .visible{
        display: block;
    }
    .full__info{
        flex: 0.97;
    }
    .text{
        font-size: 16px;
        line-height: 140%;
    }
    .subscribe__title{
        font-weight: 900;
        font-size: 16px;
        line-height: 150%;
        margin-top: 0;
        margin-bottom: 14px;
    }
    .subscribe__input{
        background: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding: 12px 18px ;
    border: none;
    color: #AEAEAE;
    flex: 1;
    font-size: 14px;
    list-style: 16px;
    font-family: 'Roboto', sans-serif;   
    }
    .subscribe__button{
        background-color: #FF8F27;
        border-radius: 4px;
        border: none;
        padding: 12px;
    }
    .subscribe__form{
        display: flex;
        margin-bottom: 48px;
    }
    


    @media(max-width:1200px){
        .container{
            max-width: 960PX;
        }
        .tabs__item{
            font-size: 16PX;
        }
    }


    @media(max-width:992px){
        .container{
            max-width: 740px;
        }
        .tabs{
            flex-wrap: wrap;
        }
        .tabs__item{
            line-height: 2;
            flex-basis: 20%;
        }
        .full__contant{
            flex-wrap: wrap;
        }
        .tabs__contant{
            margin-bottom: 5%;
        }
    }


    @media(max-width:768px){
        .container{
            max-width: 540px;
        }
        .more{
            display: none;
        }
        .tabs__item{
            flex-basis: 33%;
        }
        .tabs__contant{
            margin-right: 0;
        }
    }


    @media(max-width:578px){
        .container{
            width: 90%;
        }
        .header{
            flex-wrap: wrap;
        }
        .search{
           flex-basis: 100%;
           order: 3;
           margin-top: 5%;
        }
        .contant{
            flex-wrap: wrap;
        }
        .actors__list,
        .actor__title{
            display: none;
        }
        .short__info{
            margin-bottom: 5%;
            margin-right: 0;
        }
        .movie__info{
            flex-wrap: wrap;
            row-gap: 20px;
        }
        .poster{
            width: 100%;
            display: inline-block;
            margin-top: -18%;
        }
        .button{
            width: 100%;
        }
    }